@import 'antd/dist/reset.css';

body {
  align-items: center;
  background-color: #171717;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}

main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}